.message {
  position: relative;
  top: 80px;
}

.message .container {
  position: relative;
  text-align: center;
  font-family: 'Ubuntu', Tahoma, sans-serif;
}

#title {
  font-size: 100px;
  font-weight: bold;
  color: #9CE62A;
  letter-spacing: 2px;
}

#description {
  font-size: 40px;
  color: black;
}

#description1 {
  font-size: 20px;
  color: gray;
}

.line {
  margin: auto;
  background-color: LightGray;
  position: relative;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100px;
}

#learnMore {
  position: relative;
  margin-top: 5px;
  font-size: 12px;
  color: gray;
  background-color: transparent;
  border: none;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}

#learnMore:focus {
  outline: none !important;
  box-shadow: none !important;
}

.caret {
  color: gray;
  border-width: 4px 4px 0 4px;
}

.caret-up {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;
  color: gray;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

#extra {
  font-size: 12px;
  color: gray;
  display: none;
  margin-top: 0px;
}

span {
  font-weight: bold;
  color: #9CE62A;
}

#play:hover {
  background-color:  transparent !important;
}

#play:focus {
  outline: none !important;
  box-shadow: none !important;
}

.progress {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#progress_label {
  font-size: 15px;
  margin-top: -10px;
}

#play {
  width: 190px;
  position: relative;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  background-color: #9CE62A;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

#play:hover {
  background-color:  #BDFF59 !important;
}

#play:focus {
  outline: none !important;
  box-shadow: none !important;
}